table(class="table table-bordered")
  thead
    tr
      th Name
      th Price
      th Quantity
      th Total
      th
  tbody
    tr(ng-repeat="cartItem in cart()")
      td {{ cartItem.product.name }}
      td {{ cartItem.product.price | currency }}
      td
        input(type="text", ng-model="cartItem.quantity")
      td {{ cartItem.quantity * cartItem.product.price }}
      td
        button(class="btn btn-danger", ng-click="removeFromCart(cartItem.product)") Delete