h1(class="text-center") Products List
div(class="container")
  div(class='row')
    div(class="col-xs-4 pull-right")
      input(type="search", class="form-control", ng-model="searchTerm", placeholder="search")
  br
  table(class="table table-bordered")
    thead
      tr
        th ID
        th Name
        th Price
        th Description
        th #
    tbody
      tr(ng-class="{ success: bought(product) }",
        ng-repeat="product in filteredProducts = (products | filter:searchTerm) | paginate:pageSize:pageSelected")
        pre {{ filteredProducts.length }}
        td {{ product.id + 1 }}
        td {{ product.name }}
        td {{ product.price | currency }}
        td {{ product.description }}
        td
          button(
            class="btn btn-success",
            ng-click="buy(product)",
            ng-disabled="bought(product)"
          ) BUY
  pre {{ maxPage(filteredProducts) }}
  ul(class="pager pull-right")
    li(ng-class="{ disabled: pageSelected == 0 }")
      a(href="#", ng-click="changePage(filteredProducts, -1)")  Previous
    li(ng-class="{ disabled: (pageSelected + 1) == maxPage(filteredProducts) }")
      a(href="#", ng-click="changePage(filteredProducts, 1)") Next
